@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

/* Scrollbar */
::-webkit-scrollbar {
  height: 100%;
  width: 8px;
  margin-left: 5px;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: #808080;
  border-radius: 3px;
}

::-webkit-scrollbar-track {
  border-radius: 3px;
}

/* Hide MUI Table disabled field */
.Mui-disabled {
  display: none !important;
}
